data/autoencoders/train_autoencoder_1024_hyb3_new_users_projects_0.8.h5
data/experiment-results/autoencoders/train_autoencoder_1024_hyb3_new_users_projects_0.8.json
data/raw/*
notebooks/data-processing/test_cf.pkl
notebooks/data-processing/train_cf.pkl
notebooks/data-processing/val_cf.pkl
data/processed/train_cf.pkl
data/processed/test_cf.pkl
data/processed/val_cf.pkl
